<!doctype html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" th:href="@{/images/logos/favicon.png}" />
  <link rel="stylesheet" th:href="@{/css/styles.min.css}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a th:href="@{/index}" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img th:src="@{/images/logos/dark-logo.svg}" width="180" alt="">
                </a>
                <p class="text-center">Your Social Campaigns</p>
                <div th:if="${success }">
                  <p th:text="${success}"></p>
                </div>
                <form th:action="@{/register-new}" th:object="${adminDto}" method="POST">
                  <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control " th:field="*{firstName}" id="firstName" aria-describedby="textHelp">
                  </div>
                  <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" th:field="*{lastName}" id="lastName" aria-describedby="textHelp">
                  </div>
                  <div class="mb-3">
                    <label for="username" class="form-label">UserName</label>
                    <input type="email" class="form-control " th:field="*{username}" id="username" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control form-control-user" th:field="*{password}" id="password">
                  </div>
                  <div class="mb-4">
                    <label for="repeatPassword" class="form-label">Repeat Password</label>
                    <input type="password" class="form-control" id="repeatPassword" th:field="*{repeatPassword}">
                  </div>
                  <div  style="text-align: center">
                    <button type="submit" class="btn btn-primary " style="text-align: center">
                      Register Account
                    </button>
                  </div>
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                    <a class="text-primary fw-bold ms-2" th:href="@{/login}">Sign In</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/libs/jquery/dist/jquery.min.js}"></script>
  <script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
</body>

</html>